body {
  background-color: #4f6ab3;
  color: white;
  font-family: 'Roboto Mono', monospace; }

a {
  color: #eeadad; }

a:hover {
  color: #e62222; }

header {
  background-color: rgba(230, 34, 34, 0.1);
  margin-bottom: 0; }

header h1 {
  font-size: 300%;
  padding: 15px;
  border-radius: 100px; }

#weather-section {
  margin-bottom: 0;
  margin-top: 0; }

#info {
  font-size: 150%;
  margin-top: 0;
  padding: 20px; }

@media screen and (min-width: 576px) {
  header h1 {
    font-size: 400%; } }
